/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
}

*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-sizing: border-box;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/******Integrating Header***********/

.header{
    width: 100%;
    height: 79px;  
    display: flex; justify-content: space-between;
}

.logo{
    height: 19px ;width: 61.9px;
    margin-top: 30px ; 
}

.nav{
    height: 35px;width: 344px;
}

ul{
    list-style: none; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

header li{
    position: relative;
}

header li:after{
    
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 2.5px;
    width: 0;
    right: 0px;
    top: -26px;
}

header li:hover{
    color: var(--main-color);
}

header li:hover:after{
    width: 100%;
}


/**********info groupe*****************/

.info-groupe{
   height: fit-content ;
   width: 100%;  
   display: flex;  
   flex-direction: column; 
   align-content:space-between;
   gap: 35px;
   margin-top: 35px ;
   margin-bottom: 35px;
}

.headline{ 
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 8px;  
}

h1{ 
    margin: 0px;
    font-size: 22px; 
    font-weight: 700; 
    line-height: 25.83px
}

.headline p{
    margin: 0px; 
    font-size: 16px; 
    font-weight: 400; 
}

/****************search bar*******************/

.search{
    height: 49px;
    border-radius: 15px;
    display: flex; flex-direction: row;
    align-items: center;    
}

.icon{ 
    height: 49px;
    min-width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex; justify-content: center;    
}

.icon .fa-solid{
    display: flex; 
    align-self: center;
    color: black;    
}

.search-box{
    border-style: none;
    height: 45px;
    width: 180px;
    font-size: 16px; 
    font-weight: 700; 
    padding-left: 10px;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

::placeholder{
    color: #000000;
    opacity: 1;    
}

.btn{ 
    height: 49px;
    width: 132px; 
    background-color:var(--main-color);
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    color:white;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}

.mobile-submit{
    display: none;
}


/*****filters+info bar******/

.filter{
    width: 100%;
    height: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: start; align-items: center;
    margin-top: 35px;       
}

.filter .title{
    font-size: 18px; 
    font-weight: 700;
    width: 54px;    
}

.filter button{
    height: 50px;
    padding: 4px 19px 4px 19px;
    background-color: white;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    font-weight: 700;
    margin-left: 10px;
}


.filter i{
    padding-right: 5px;
}

.filter button:hover{
    background-color: var(--filter-bg-color);
    cursor: pointer;
}


.info-bar{ 
    width: 100%; height: 24px;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    font-size: 16px; 
    font-weight: 400;    
}

.info-bar i{
    min-width: 24px;
    height: 24px;
    border: solid 1px #d9d9d9;
    border-radius: 50px;
    display: flex; justify-content: center; 
    align-items: center;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires{
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;      
}

.hebergements .cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    justify-content: center;
    gap: 30px;
}

.hebergements .title{
    margin-top: 0px;
    font-size: 22px;
    font-weight: 700;   
}

.hebergements .hebergements-footer{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
}

.hebergements img{
    width: 100%;
    height: 124px;
    border: solid 5px white;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.hebergements .card{   
    width: 100%;
    height: 100%;
    padding: 0px 0px 15px 0px;
          
}

.hebergements .card-content{
    padding: 0px 15px 0px 15px;     
}

.hebergements .card-rating{
    margin-bottom: 0px;  
}

.hebergements .card-title{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
}

.hebergements .card-subtitle{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}

/****** Populaires ***********/
.populaires {
    width: 32%;    
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card{
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle{
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********************activites a marseille********************/


.activites-marseille .cards-container{   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
    gap: 30px;
    margin-bottom: 35px;
}

.activites-marseille article{
    display: flex; flex-direction: column;
    height: 439px;
    background-color: white;
    border-radius: 20px;
    padding: 0px;
}


.activites-marseille img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites-marseille article h3{
    font-size: 16px; font-weight: 700;
    margin-left: 20px;
}



.activites-marseille .title{
    font-size: 22px;
    font-weight: 700;
    padding-left: 30px;
    margin-top: 35px;
    margin-bottom: 0px;   
}


/************************footer***************************/

footer{
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex; flex-direction: row;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;   
}

footer div{
    width: 446.6px;
    gap: 15px;
}

footer .title{
    font-size: 18px;
    font-weight: 700;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    
    
    .info-groupe{
        height: fit-content;
        display: flex; align-content: space-between;   
    }
    
    .filter{
        height: fit-content;
        display: block;
    }

    .filter p{
        margin-top: 0px;    
    }

    .filter button{ 
        height: 50px;   
    }

    .filter .buttons{ 
        margin-left: -10px;    
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements{
        width: 100%;
    }

    .populaires{
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a{
        width: 30%;
    }

    .populaires-cards .card-title{
        font-size: 14px;
    }

    .populaires-cards .card-subtitle{ 
        font-size: 13px;
    }

    .activites-marseille .cards-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);    
    }

    .activites-marseille .card{
        width: 100%; 
        height: 270px;        
    }

    .activites-marseille img{
        width: 100%;
        height: 200px;
    }
   
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container{
        padding: 0px;
        white-space: normal;
        overflow-x: hidden;
    }

    .header{
        display: flex; flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        border-bottom:solid 2.5px var(--main-bg-color);
        padding-bottom: 16px;
    }

    .logo-container{   
        width: 121.9px; height: 79px;
        display: flex; justify-content: center;
    }


    .nav{
        width: 100%;
        height: 36px;
        padding: 0px 30px 15px 30px;
        box-sizing: border-box;    
    }

    
    ul{
        height: 19px;
        padding: 0px 0px 15px 0px;           
    }

    header ul :first-child:after{
        top: 35px;
        left: -30px;        
    }
    header ul :last-child:after{
        top: 35px;
        right: -30px;       
    }
    header li:hover:after{
        width: 49vw;       
    }
   
    .info-groupe{
        width: 100%;
        height: fit-content;
        padding: 0px 20px;
        box-sizing: border-box;
        margin-bottom: 0px;
    }

    .headline p{
        height: fit-content;
    }

    .search .btn{
        display: none;    
    }
    .mobile-submit{display: flex;
    position: relative;
    
    }
    .search .btn-mobile{    
        
        min-width: 49px; height: 49px;
        background-color: var(--main-color);
        border-style: none;
        border-radius: 15px;
        margin-left: -10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.255);
        cursor: pointer;
    }

 
    .search-box{
        width: 100%;
    }

    .mobile-submit i{
        color: rgb(255, 255, 255);
        position: absolute;
        left: 6px;
        top: 15px;
        cursor: pointer;
    }

    .buttons{
       width: 100%;
       display: grid;
       grid-template-columns: repeat(2,50%);
       row-gap: 20px;
       column-gap: 10px;
    }

    .filter button{
        display: flex; flex-direction: row;
        justify-content: center; 
        align-items: center;
        font-size: 14px;    
    }

    .hebergements-and-populaires{
        display: flex; flex-direction: column-reverse;  
    }

    .hebergements .card{
        width: 100%;  
    }

    .hebergements img{
        width: 100%;
    }

    .hebergements .cards-container{ 
        width: 100%;
        display: flex; flex-direction: column;
    }

    :root .hebergements{
        --main-bg-color: rgb(255, 255, 255);   
    }

    :root .populaires{
    border-radius: 0px;  
    }
    
   
    .populaires-cards{
        width: 100%;
        display: flex; flex-direction: column;
    }

    .populaires a{
       width: 100%;       
    }
    
    .activites-marseille .cards-container{
        width: 100%;
        display: flex; flex-direction: column;
    }
    .activites-marseille .card{
        width: 100%;
        height: 200px;        
    }
    .activites-marseille img{height: 141px;}
    footer{
        width: 100%;
        display: flex; flex-direction: column;        
    }

    }


