/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
   
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/******Integrating Header***********/

.header{
    height: 79px;  
    display: flex; justify-content: space-between;
}

.logo{
    height: 19px ;width: 61.9px;
    margin-top: 30px ; 
}

.nav{
    height: 35px;width: 344px; 
}

ul{
    list-style: none; display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

ul li :hover{
    text-decoration: overline; color: #0065FC ;
    text-decoration-thickness: 2px; 
}
/**********info groupe*****************/

.info-groupe{
   height: 281px ;
   width: 1340px;  
   display: flex;  
   flex-direction: column; 
   align-content:space-between;
   margin-top: 35px ;
   margin-bottom: 35px;
}

.headline{ 
    height: 53px; 
    width: 1340px; 
    
}

.first{

    height: 26px; 
    margin: 0px;  
    font-size: 22px; 
    font-weight: 700; 
    line-height: 25.83px;
}

.second{

    height: 19px; 
    margin: 0px; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 18.78px;

}

/****************search bar*******************/

.search{
    height: 49px;
    width: max-content;    
    background-color:  #F2F2F2;
    border-radius: 15px;
    display: flex; flex-direction: row;
    align-items: center;
    margin-top: 35px; 
    
}

.icon{ 
    height: 49px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex; justify-content: center;
    
}

.icon .fa-solid{
    display: flex; 
    align-self: center;
    color: black;
    
}

.search-box{

    border-style: none;
    background-color: white;
    height: 45px;
    width: 210px ;
    font-size: 16px; 
    font-weight: 700; 
    text-decoration: black;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;

}

.btn{ 
    
    height: 49px;
    width: 132px; 
    background-color: #0065FC;
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    color:white;
    font-weight: 700;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}

/*****filters+info bar******/

.filter{

    width: 758px;
    height: 50px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    
    
}

.filter .text{
    
    font-size: 18px; 
    font-weight: 700;
    width: 54px;
    
}

.filter .btn1{
    
    background-color: transparent;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    font-size: 17px; font-weight: 700;
    padding: 4px 19px 4px 19px;
    margin-left: 10px;    

}

.filter .btn2{
    padding: 4px 19px 4px 19px;
    background-color: transparent;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    font-size: 17px; 
    font-weight: 700;
    margin-left: 10px;

}

.filter .btn3{
    padding: 4px 19px 4px 19px;
    background-color: transparent;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    font-size: 17px; font-weight: 700;
    margin-left: 10px;

}

.filter .btn4{
    padding: 4px 19px 4px 19px;
    background-color: transparent;
    border: solid 2px #d9d9d9;
    border-radius: 25px;
    font-size: 17px; font-weight: 700;
    margin-left: 10px;

}

.filter i{

    padding-right: 5px;

}

.filter button:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}


.info-bar{
    
    width: 100%; height: 24px;
    display: flex; 
    flex-direction: row; 
    align-items: center;
    font-size: 16px; 
    font-weight: 400;
    margin-top: 35px;
    
    

}

.info-bar i{
    width: 24px;
    height: 24px;
    border: solid 1px #d9d9d9;
    border-radius: 50px;
    display: flex; justify-content: center; 
    align-items: center;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
   
     
}

.hebergements .cards-container{
    display: grid;
    grid-template-columns: repeat( auto-fill, min(250.33px));
    gap: 30px;
}

.hebergements .hebergements-title{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 700;
    
}

.hebergements .hebergements-footer{

    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
}
.hebergements img{

    width: 250.33px;
    height: 124px;
    border: solid 5px white;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 0px;
    box-sizing: border-box;

}

.hebergements .card{

    height: 207.25px;
    width: 250.33px;
    padding: 0px 0px 15px 0px;
    gap: 4px;
    
}

.hebergements .card-content{

    width: 250.33px;
    height: 64.25px;
    gap: 8px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    
     
    
   
}

.hebergements .card-rating{

    
    margin-bottom: 0px;
   
}

.hebergements .hotel-name{

    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
}

.hebergements .price{
    
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    

}

/****** Populaires ***********/
.populaires {
    width: 32%;
    
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********************activites a marseille********************/

.activites-marseille{

    width: 100%;
    height: 559.02px;
    padding: 30px;
    gap: 30px;

}

.activites-marseille .cards-container{

    display: flex; flex-direction: row;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, min(297.5px));
    gap: 30px;

}

.activites-marseille article{

    width: 297.5px;
    height: 439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex; flex-direction: column;

}

.activites-marseille img{

    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}

.activites-marseille .card-content p{

    height: 19px;
    width: 259.5px;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 19px 20px 19px;
}

.activites-marseille .card-content{

    height: 59px;
    width: 297.5px;
    
   

}

.activites-marseille .title{

    
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    
}


/************************footer***************************/

footer{

    width: 1,340px;
    height: 163px;
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(3, 446.67px);
    padding: 20px;
   
    
}


.footer-title{

    font-size: 18px;
    font-weight: 700;

}

.footer-link{

    font-size: 16px;
    font-weight: 400;

}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}